<% provide(:title, "About") %>
<div class="jumbotron main about-text">
  <h2>About</h2>
  <p>
    This is an ongoing project for an online shop selling second-hand books called "Moth Books".<br>
    Using the following tools:
  </p>
  <ul>
    <li>Ruby on Rails</li>
    <li>devise gem</li>
    <li>bootstrap gem</li>
    <li>MySQL</li>
    <li>JavaScript</li>
    <li>HTML, CSS</li>
    <li>Photoshop</li>
  </ul>
  <p>
    Finally, there is also a rake task called "cleanup" for removing old carts from the database.<br>
    For more information please visit: <a href="https://github.com/m-gb">my github page</a>
  </p>
</div>
