<% provide(:title, "Help") %>
<div class="jumbotron main about-text">
  <h2>Help</h2>
  <p>
    This is an ongoing project for an online shop selling second-hand books called "Moth Books".<br>
    Anyone can add books to their cart, but to make an order, they will need to sign up.<br>
    Once a user is signed in, the cart will retrieve the books from before signing in.<br>
    Upon signing out, all books in the cart will be saved to the database.<br>
    Next time the user signs in, the cart will merge all saved books and newly added books before signing in.<br>
    When a user wants to make an order, they will be asked for shipping information.<br>
    Upon successfully making an order, a list of recommended books based on the last chosen categories will be displayed.<br>
    Users can also access their order history through a menu in the header.<br>
  </p>
  <p>For more information please visit: <a href="https://github.com/m-gb">my github page</a></p>
</div>
