<div class="row">
  <div class="col-md-2 sidebar">
    <div class="jumbotron nav nav-sidebar">
      <h2>Categories</h2>
      <ul>
        <% for c in Category.all %>
          <li><%= link_to c.name, root_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-10 main">
    <div class="jumbotron">
      <h1>Find your favorite second-hand books</h1>
    </div>
  </div>
</div>
