<div class="row">
  <div class="col-md-2 sidebar">
    <div class="jumbotron nav nav-sidebar">
      <h2>Categories</h2>
      <ul>
        <% for c in Category.all %>
          <li><%= link_to c.name, category_path(c) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-10 main">
    <div class="jumbotron">
      <h2>Find your favorite second-hand books</h2>
    </div>
  </div>
</div>
