<div class="row">
  <div class="col-md-2 sidebar">
    <ul class="jumbotron nav nav-sidebar">
      <h2>Categories</h2>
      <% for c in Category.all %>
        <li><%= link_to c.name, category_path(c), class: "navbar-link" %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10 main">
    <div class="jumbotron">
      <h2>Bestsellers</h2>
    </div>
  </div>
</div>
