// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book_category {
  border-color: #cacaca;
  border-style: solid;
  border-width: 1px;
  color: #666;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  a {
    color: #666;
    &:hover {
      color: #666;
    }
  }
}
.book_image {
}
.book_description {
  h2 {
    font-weight: bold;
  }
}
.book_price {
  margin-left: -5px;
  margin-right: -15px;
  h2 {
    color: #ff8080;
    font-size: 2em;
    font-weight: bold;
  }
  p {
    color: black;
    font-size: 1em;
  }
}
.book_info {
  margin-top: -20px;
  h2 {
    font-weight: bold;
  }
  ul {
    margin-top: 0px;
      li {
      list-style-type: none;
      padding-bottom: 30px;
      margin-left: -40px;
      font-size: 1.1em;
    }
  }
}
