.item_quantity {
  width: 60px;
  float: right;
}

.item_update {
  margin-bottom: 15px;
}

.cart_checkout {
  border-top: 1px solid #eaeaea;
}

.cart_checkout_button {
  margin-top: 25px;
  width: 200px;
}

.item_remove {
  margin-top: 15px;
  margin-left: 30%;
  float: right;
}
