// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category_book_list {
  padding: 0;
  list-style: none;
}
.category_book_item {
  display: inline-block;
  padding: 10px;
  width: 150px;
}
.category_book_text {
  ul {
    list-style: none;
    padding: 0;
  }
}
.category_book_title {
  height: 3em;
  font-weight: bold;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}
.category_book_author {
  height: 2em;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }  
}
.category_book_price {
  color: #ff8080;
  font-size: 1.6rem;
  font-weight: bold;
}
