@import "bootstrap-sprockets";
@import "bootstrap";

/*mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.center {
  text-align: center;
}

.container {
  width: 1400px;
}

.jumbotron {
  background-color: white;
  h1 {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
  }
  p {
    font-size: 1.3em;
    padding-top: 15px;
  }
}

/* header */

.navbar-inverse {
  background-color: #494949;
}

.nav.navbar-nav.navbar-right {
  li a {
  color: white;
  padding-top: 30px;
  font-size: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }
}

#logo {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
}

#cart img {
  margin-top: -5px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  .left {
    float: left;
  }
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
