@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: Roboto, sans-serif;
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
    width: 90%;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: white;
}

.sidebar {
  .jumbotron {
    list-style: none;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    h2 {
      border-bottom: 1px solid #cacaca;
      color: black;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0px;
      padding: 10px;
    }
    li {
      border-bottom: 1px solid #cacaca;
      a {
        font-size: 1.4rem;
        color: black;
        &:hover {
          color: black;
        }
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}


.main {
  h2 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    padding-top: -15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
  }
}

::selection {
  background: #5bc0de; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #5bc0de; /* Gecko Browsers */
}
/* header */



.navbar-inverse {
  background-color: #494949;
  border-color: #494949;
  border-radius: 0px;
  box-shadow: 0 1px 5px #888888;
}

.nav.navbar-nav.navbar-right {
  li a {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-shipping {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.account_info {
  ul li a {
    color: black !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.current_user {
  color: white;
}

#logo {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
}

.search_button_text{
  height: 40px !important;
  margin-top: 12px;
}

.search_button{
  height: 40px !important;
  width: 60px !important;
  margin-top: 12px;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  .left {
    float: left;
  }
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
