.order_summary {
  .jumbotron {
    padding: 2em;
    h4 {
      border-bottom: 1px solid #cacaca;
      font-weight: bold;
      color: darkorchid;
      margin-bottom: 0px;
      padding-bottom: 0.8em;
    }
    ul {
      li {
        list-style-type: none;
        margin-left: -40px;
        border-bottom: 1px solid #cacaca;
        padding-top: 0.8em;
        p {
          font-size: 1.5rem;
          text-align: right;
        }
      }
    }
  }
}
.order_title {
  font-weight: bold;
}
.order_quantity {
  float: right;
}
.order_price {
  color: darkorchid;
  text-align: right;
}
.order_payment {
  p {
  text-align: right;
  font-size: 1.5rem;
  }
}
.order_total {
  color: darkorchid;
  font-size: 1.7rem;
}
