.carousel-indicators {
  li {
    border-color: black;
  }
}

.carousel-inner {
  img {
    margin: auto;
  }
}

.carousel-wrapper {
  width: 50%;
}

#bookCarousel {
  margin: 0 auto;
}

.about-text {
  p {
    font-weight: normal !important;
  }
  ul li {
    font-size: 21px;
  }
}
